/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --clr-hot:hsla(48,100%,54%, .70);
    --clr-cool:rgb(46,189,200);
    --clr-go:rgb(90,245,125);
    --clr-alarm:rgb(232,48,213);
    --clr-logo:hsl(199,82%,45%);
    --clr-title:hsl(260,73%,54%);
    --clr-surface:hsl(0,0%,100%);
  
  }

*,*::after,*::before{
    box-sizing: border-box;
}

body{
  font-family: 'Urbanist', sans-serif;
  font-weight:500; 
  margin:0;
}
.content {
  height: 200vh;
  background-image:url(//i.picsum.photos/id/1072/3872/2592.jpg?hmac=I5d8vixhn6Ne9Ao1YQdtHfxS2YKNyx6_Bu8N_V1-ovk);
  background-blend-mode:multiply;
  background-size:cover;
  display:grid;
  place-items:center;
}

/*header starts here */
/* header {
  width:100%;
  
  background: var(--clr-hot);
  position:fixed;
  z-index: 999;
  text-align:center;
  
}

nav{
  position:absolute;
  text-align:left;
  top:100%;
  background: var(--clr-hot);
  width:100%;
  
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  list-style:none;
  margin:0;
  padding:0;  
}

nav li {
  margin-left: 1em;
  margin-bottom: 1em;
}

li a{
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  color: black;
}

a:hover {
  color:var(--clr-title);
  cursor:pointer;
}

.nav_toggle{
  display:none;
}

.nav_toggle:checked ~ nav{  
  transform: scale(1,1);
  
}
.nav_toggle:checked ~ nav a{
  opacity:1;
  transition: all .1s ease-in-out .200s ; 
}

nav a {
  opacity:0;
  transform: scale(1,0);
  transition: opacity 150ms ease-in-out;
}

.nav_toggle_label{
  position:absolute;
  top:0;
  left:0;
  margin-left: 1em;
  height:100%;
  display:flex;
  place-items:center;  
}
.label_span, 
.label_span::before,
.label_span::after {
  height:4px;
  width:30px;
  border:1px solid black;
  background:black;
  border-radius:20%;
}
.label_span::before,
.label_span::after{
  position:absolute;
  content: '';
  left: 0px;
}
.label_span::before{
  top: 30px;  
}
.label_span::after{
  bottom: 30px;
}
.label_span:hover,
.label_span:hover::after,
.label_span:hover::before{
  cursor:pointer;
  border:1px solid var(--clr-title);
  background:var(--clr-title);  
}

@media screen and (min-width:00px) {
  .nav_toggle_label{
    display:none;
  }
  
  header{
    display:grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    
  }
  nav{
    all:unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    place-items:center;    
  }
  .logo{
    grid-column: 2/3;
  }
  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav a {
    opacity:1;
    position:relative;
  }
  nav a::before {
    position:absolute;
    content:'';
    height:4px;
    width:100%;    
    top:-10px;
    right:0;
    background:black;    
    transform:scale(0,1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform:scale(1,1);
  }
}

.card {
  box-shadow: 2px 5px 13px 7px rgb(240, 239, 239);
  width: 80vw ;
  border-radius: 4px;
  padding: 8px;
  margin-top: 80px;
}

.title {
  font-weight: bold;
  text-align: center;
  height: 30px;


  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgb(240, 239, 239);
  
  border-left: 5px solid rgb(240, 239, 239);

}

.ttest {
background-color: red;
color: green;
} */






/* .content-card {
  margin: 30px;
  padding: 2px;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  width: 100%;
  height: 250px;
  transition: all 0.5s linear;

  box-shadow: 12px 3px 9px 0px rgba(0, 0, 0, 0.2);
} */

/* .container {
  margin-top: 30px;
}


.card {
  box-shadow: 2px 5px 13px 7px rgb(240, 239, 239);
  width: 80vw ;
  border-radius: 4px;
  padding: 8px;
  margin-top: 80px;
}

.title{
  font-weight: bold;
  justify-content: center;
}

.card:before {
  content: "aa";
  position: absolute;
  top: -1px;
  right: -1px;
  transform:translate(50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4da6ff;
  mix-blend-mode:darken;
} */  